html,
body {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

input,
button {
  outline: none !important;
  box-shadow: none !important;
}
input:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.auth-bg {
  min-height: 100vh;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.auth-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.auth-logo {
  background: #23283b;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.auth-logo-icon {
  font-size: 36px;
}

.auth-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 4px;
}

.auth-subtitle {
  color: #a0a4b8;
  margin-bottom: 32px;
}

.auth-tabs {
  display: flex;
  gap: 0;
  margin-bottom: 8px;
}

.auth-tab {
  background: #23283b;
  color: #fff;
  border: none;
  padding: 10px 32px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.auth-tab.active {
  /* background: #181C24; */
}

.auth-tab:hover {
  background: #181c24;
}

.auth-tab:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.auth-tab:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.auth-form-container {
  background: #23283b;
  border-radius: 10px;
  padding: 32px;
  width: 350px;
  box-shadow: 0 2px 12px #0002;
  margin-top: 8px;
}

.auth-form-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
}

.auth-form-desc {
  color: #a0a4b8;
  font-size: 13px;
  margin-bottom: 18px;
}

.auth-form-group {
  margin-bottom: 16px;
}

.auth-label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.auth-input-wrapper {
  display: flex;
  align-items: center;
  background: #181c24;
  border-radius: 6px;
  padding: 6px 12px;
}

.auth-input-icon {
  margin-right: 8px;
  color: #a0a4b8;
}

.auth-input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  font-size: 15px;
  padding: 6px 0;
}

.auth-btn {
  width: 100%;
  background: #181c24;
  color: #3b4cca;
  border: 1px solid #3b4cca;
  border-radius: 6px;
  padding: 10px 0;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.2s, color 0.2s;
}

.auth-btn:hover {
  background: #3b4cca;
  color: #fff;
}

.auth-message {
  margin-top: 12px;
  text-align: center;
  font-size: 15px;
  color: #ffd700;
}
