.catalogue-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 20px 60px;
}

.catalogue-header > h2 {
  font-size: 2rem;
}

.catalogue-header > p {
  font-size: 1rem;
  color: #9c9b9b;
}
